{{ define "main" }}

  {{- $config := site.Params.ananke.home -}}
  {{- $text_alignment := "" -}}
  {{- if eq $config.content_alignment "left" -}}
    {{- $text_alignment = "tl-l" -}}
  {{- else if eq $config.content_alignment "right" -}}
    {{- $text_alignment = "tr-l" -}}
  {{- end -}}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 {{ $text_alignment }} center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}" style="text-align: justify; text-justify: inter-ideograph;">
    {{ .Content }}
  </article>

  {{ $mainSections := site.Params.mainSections | compare.Default (collections.Slice "posts") }}
  {{ $section := collections.Where $.Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}

  {{ if compare.Ge $section_count 1 }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h2 class="f2 fw4 near-black mb4 bb pb2">最新文章</h2>
      <section class="w-100">
        {{ range $section }}
          <div class="flex items-center justify-between w-100 pv3 bb b--black-10">
            <h3 class="f5 fw4 ma0">
              <a href="{{ .RelPermalink }}" class="link near-black dim">
                {{ .Title }}
              </a>
            </h3>
            <time class="f6 moon-gray flex-shrink-0 ml3" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Date | time.Format "2006-01-02" }}
            </time>
          </div>
        {{ end }}
      </section>
    </div>
  {{ end }}
{{ end }}